.header{
    display: flex;
    justify-content: space-around;
    background-color: #7b38d8;
    height: 55px;
}
.navBar{
    text-decoration: none;
    list-style: none;
}
ul{
    position: relative;
    top: -3px;
}
ul li{
    display: inline;
    margin-right: 3vh;
    margin-top: 2vh;
    font-weight: 500;
    font-size:18px;
    color: antiquewhite;
}

ul li:hover{
    cursor: pointer;
    /*color: darkturquoise;*/
    color: #33a7ce;
    transition: .25s;
}

.logo{
    position: relative;
    top: -20px;
    color: #33a7ce;
    font-weight: 500;
}